In [3]:
import pandas as pd

In [ ]:
df = pd.read_csv('CCEE_BR_Data.csv', sep=',')

In [ ]:
df['Timestamp'] = pd.to_datetime(df['Data'], format='%d/%m/%Y')
df['Ano'] = df['Timestamp'].dt.year
df['Mês'] = df['Timestamp'].dt.month
df['Dia'] = df['Timestamp'].dt.day
df['DiaSem'] = df['Timestamp'].dt.weekday

In [ ]:
# exclude 'Exportador'
df=df[df['Classe']!='Exportador']
# df pré COVID
df0 = df[df['Covid']==0]
# df durante COVID
df1 = df[df['Covid']==1]

In [ ]:
ACL_df = df[df['Classe']!='Distribuidor']

In [ ]:
#Read consumooBrasil
consumoBrasil = pd.read_csv('consumoBrasil.csv', sep=',')

In [4]:
novoconsumoBrasil = pd.read_csv('novoConsumo.csv', sep=',')

In [5]:
#Adiciona os csv do clima
clima2018 = pd.read_csv('dataClima2018.csv', sep=',')
clima2019 = pd.read_csv('dataClima2019.csv', sep=',')
clima2020 = pd.read_csv('dataClima2020.csv', sep=',')

In [ ]:
#Adiciona os valores de temperatura e umidade no dataframe consumoBrasil
consumoBrasil = consumoBrasil.merge(clima2018, how='left', left_on='Timestamp', right_on='Timestamp')

In [6]:
novoconsumoBrasil = novoconsumoBrasil.merge(clima2018, how='left', left_on='Timestamp', right_on='Timestamp')

In [ ]:
consumoBrasil = consumoBrasil.merge(clima2019, how='left', left_on='Timestamp', right_on='Timestamp')
consumoBrasil = consumoBrasil.merge(clima2020, how='left', left_on='Timestamp', right_on='Timestamp')

In [7]:
novoconsumoBrasil = novoconsumoBrasil.merge(clima2019, how='left', left_on='Timestamp', right_on='Timestamp')
novoconsumoBrasil = novoconsumoBrasil.merge(clima2020, how='left', left_on='Timestamp', right_on='Timestamp')

C:\Users\joaov\AppData\Local\Temp\ipykernel_15352\2867181694.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 0_x'} in the result is deprecated and will raise a MergeError in a future version.
  novoconsumoBrasil = novoconsumoBrasil.merge(clima2020, how='left', left_on='Timestamp', right_on='Timestamp')

In [8]:
novoconsumoBrasil

,Unnamed: 0_x,Timestamp,Consumo,Estacao,Unnamed: 0_y,Umidade_x,Radiacao_x,Unnamed: 0_x,Umidade_y,Radiacao_y,Unnamed: 0_y,Umidade,Radiacao
0,0,2018-07-01,51.88078,Verão,181.0,65.464022,2407.729174,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2018-07-02,59.15982,Verão,182.0,64.955556,2350.343040,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2018-07-03,62.53248,Verão,183.0,64.274492,2396.967216,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2018-07-04,62.53920,Verão,184.0,65.612963,2311.228571,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2018-07-05,63.08526,Verão,185.0,64.238848,2381.077839,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,711,2020-06-15,56.91036,Verão,NaN,NaN,NaN,NaN,NaN,NaN,166.0,71.801053,2189.984519
712,712,2020-06-16,58.06986,Verão,NaN,NaN,NaN,NaN,NaN,NaN,167.0,71.398340,2259.194410
713,713,2020-06-17,57.93552,Verão,NaN,NaN,NaN,NaN,NaN,NaN,168.0,70.491684,2220.655187
714,714,2020-06-18,58.07616,Verão,NaN,NaN,NaN,NaN,NaN,NaN,169.0,69.154167,2310.815321
715,715,2020-06-19,58.18393,Verão,NaN,NaN,NaN,NaN,NaN,NaN,170.0,68.927975,2321.377433

In [ ]:
#Drop the unnecessary columns
consumoBrasil.drop(['Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0'], axis=1, inplace=True)

In [10]:
novoconsumoBrasil.drop(['Unnamed: 0_x', 'Unnamed: 0_y'], axis=1, inplace=True)

In [ ]:
consumoBrasil = consumoBrasil.fillna(0)

In [12]:
novoconsumoBrasil = novoconsumoBrasil.fillna(0)

In [ ]:
#Create a new column with the average temperature
consumoBrasil['Umidade'] = (consumoBrasil['Umidade_x'] + consumoBrasil['Umidade_y'] + consumoBrasil['Umidade'])
consumoBrasil['Radiacao'] = (consumoBrasil['Radiacao_x'] + consumoBrasil['Radiacao_y'] + consumoBrasil['Radiacao'])

In [ ]:
#Remove the unnecessary columns
consumoBrasil.drop(['Umidade_x', 'Umidade_y', 'Radiacao_x', 'Radiacao_y'], axis=1, inplace=True)

In [ ]:
consumoBrasil.to_csv('consumoWeather.csv')